<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li ng-class="{active: isTabActive('groups')}"><a href="" data-target="#groups" data-toggle="tab">Группы</a></li>
    <li ng-class="{active: isTabActive('staff')}"><a href="" data-target="#staff" data-toggle="tab">Работники</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane" ng-class="{active: isTabActive('groups')}" id="groups">
        <h2>Группы</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Преподаватель</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="group in groups">
                    <td>{{group.number}}</td>
                    <td>{{getTeacherName(group.teacherId)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" ng-class="{active: isTabActive('staff')}" id="staff">
        <h2>
            Работники
            <button class="btn btn-primary" ng-click="addEmployee()">добавить</button>
        </h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Телефон</th>
                    <th>Должность</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in staff">
                    <td>{{employee.name}}</td>
                    <td>{{employee.phone}}</td>
                    <td>{{employee.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>