<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="" data-target="#home" data-toggle="tab">Теория</a></li>
                <li><a href="" data-target="#profile" data-toggle="tab">Практика</a></li>
                <li><a href="" data-target="#messages" data-toggle="tab">Экзамен</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <h2>Лекции</h2>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Назваине</th>
                                <th>Статус</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lecture in lectures">
                                <td>{{lecture.number}}</td>
                                <td>{{lecture.name}}</td>
                                <td>{{lecture.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="profile">Практика tab</div>
                <div class="tab-pane" id="messages">Экзамен tab</div>
            </div>
        </div>
    </div>
</div>