<div class="row">
    <div class="col-md-12">
        <h3>
            Ученики
        </h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Телефон</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in students | orderBy:'name'">
                    <td>{{student.name}}</td>
                    <td>{{student.phone}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>