<form class="form-horizontal form-signin" role="form" ng-submit="login()">
    <h2 style="text-align:center;">Войдите в систему</h2>
    <div class="form-group">
        <label for="email" class="col-sm-2">E-mail</label>
        <div class="col-sm-10">
            <input type="email" id="email" class="form-control" placeholder="E-mail" ng-model="credentials.email" ng-keypress="changeCredentials($event)">
            <span style="margin-left:20px;color:green;opacity:0.5;">Press "Shift + Enter" when focused to change role</span>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2">Пароль</label>
        <div class="col-sm-10">
            <input type="password" id="password" class="form-control" placeholder="Пароль" ng-model="credentials.password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Войти</button>
        </div>
    </div>
</form>