<nav class="navbar navbar-inverse" role="navigation" ng-show="currentUser.isAuthorized">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainMenu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Здравствуйте, {{currentUser.name}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="nav navbar-nav">
                <li ng-class="{active: isTabActive('/studentHome')}" ng-if="isInRole(roles.Student)">
                    <a href="#/studentHome">Главная</a>
                </li>
                <li ng-class="{active: isTabActive('/instructorHome')}" ng-if="isInRole(roles.Instructor)">
                    <a href="#/instructorHome">Главная</a>
                </li>
                <li ng-class="{active: isTabActive('/adminHome')}" ng-if="isInRole(roles.Admin)">
                    <a href="#/adminHome">Главная</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" ng-click="logout()">Выйти</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>