<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <servlet-name>LectureApi</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <servlet-name>ExerciseApi</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <servlet-name>TeacherApi</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <servlet-name>GroupApi</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LogonApi</servlet-name>
        <servlet-class>LogonApi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureApi</servlet-name>
        <servlet-class>LectureApi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExerciseApi</servlet-name>
        <servlet-class>ExerciseApi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherApi</servlet-name>
        <servlet-class>TeacherApi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupApi</servlet-name>
        <servlet-class>GroupApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogonApi</servlet-name>
        <url-pattern>/LogonApi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureApi</servlet-name>
        <url-pattern>/LectureApi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExerciseApi</servlet-name>
        <url-pattern>/ExerciseApi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherApi</servlet-name>
        <url-pattern>/TeacherApi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupApi</servlet-name>
        <url-pattern>/GroupApi</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
