<div align="justify"><span style="font: bold 16px 'Calibri'; text-decoration: underline; color: rgb(0, 0, 0);">ПРОЕЗД ПЕРЕКРЕСТКОВ</span></div>
<div align="justify"><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">&nbsp;</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n </span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">Очередность проезда определяется светофором, знаками приоритета или отсутствием помех</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n </span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 255);">Поворот направо - из крайней правой в крайнюю правую полосу. Поворот налево - из крайнего левого </span><span style="font: 16px 'Calibri'; text-decoration: underline; color: rgb(0, 0, 255);">положения</span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 255);"> в любую из полос своего направления - VIII</span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">
 (расположение на крайней левой полосе разрешает разворот на 
перекрестке). Такой порядок определяется исходя из нашей посадки с левой
 стороны в автомобиле.</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n</span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">&nbsp; Если покрытие дороги не определяется (темень, снег и т.д.) или не видно знаков приоритета, то дорога априори считается второстепенной (неверно определенный приоритет может привести к аварии).</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n</span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">
 При заторах на перекрестке разрешен выезд на него только для движения в
 свободных направлениях (т.е. не перекрывая движения на перекрестке).</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n</span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);"> </span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">Разворот
 на перекрестке (как и вне его) должен быть произведен за один прием 
(без применения заднего хода, и последовательно пропуская возникающие 
помехи справа).</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n</span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);"> На перекрестке разрешены (при отсутствии ограничений) четыре маневра: 1) направо, 2) прямо, 3) налево, 4) разворот.<br>&nbsp;</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n</span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">&nbsp; </span><span style="font: 16px 'Calibri'; text-decoration: underline; color: rgb(0, 0, 0);">РП - Регулируемый перекресток:</span></div>
<div align="justify"><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">-&nbsp; при повороте налево на зеленый светофор, уступить на середине перекрестка дорогу т.с., двигающимся навстречу (помеха справа);<br>-&nbsp;&nbsp; приоритет т.с., завершающего маневр на перекрестке;<br>-&nbsp;&nbsp; приоритет трамвая в равных условиях;<br>-&nbsp;&nbsp;
 перед завершением поворота налево, остановка у стоп - линии перед 
красным светофором в разрыве разделительной полосы (т.е. при проезде 
руководствоваться стоп - линиями&nbsp; и светофорами на пути следования);<br>-&nbsp; запрет обгона с выездом на встречную полосу;<br>-&nbsp;
 пропустить т.с. с других направлений при движении под основной красный 
сигнал светофора и зеленую стрелку в дополнительной секции.<br>&nbsp;</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n</span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">&nbsp; </span><span style="font: 16px 'Calibri'; text-decoration: underline; color: rgb(0, 0, 0);">НРП - Нерегулируемый перекресток:</span></div>
<div align="justify"><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">-&nbsp;&nbsp; приоритет т.с., не имеющего помехи справа;<br>-&nbsp;&nbsp; приоритет трамвая в равных условиях;<br>-
 въезжающий по второстепенной дороге, пропускает т.с. с главных дорог 
(обладают приоритетом вне зависимости от направления их дальнейшего 
движения);<br>-&nbsp; въезд со второстепенной дороги по «непересекающейся» 
траектории только при условии, что не будет создано помехи (движение в 
свободную полосу, разъезд бортами);&nbsp; т.е., если траектория т.с. с 
главного направления не совпадает с нашей - мы начинаем движение;<br>-&nbsp; 
приоритет поперечного разъезда дает преимущество въезда на перекресток 
(действует до его середины), а приоритет встречного разъезда дает 
преимущество выезда с перекрестка; т.е. при движении через перекресток 
следим персонально за «своей» помехой справа (за всеми уследить 
невозможно) на участке до середины (м.б. промежуточная остановка), а 
затем - до выезда с перекрестка. </span></div>
<div align="center"><span style="font: 16px 'Calibri'; color: rgb(0, 0, 255);">&nbsp;<br>&nbsp;</span></div>
<div align="justify"><span style="font: bold 16px 'Calibri'; text-decoration: underline; color: rgb(0, 0, 0);">ПЕШЕХОДНЫЙ ПЕРЕХОД И ОСТАНОВКИ МАРШРУТНЫХ Т.С.</span></div>
<div align="justify"><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">&nbsp;</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n</span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">&nbsp;
 Водитель обязан пропустить пешеходов, переходящих проезжую часть по ПП,
 а при проезде по нешироким улицам (в две полосы) должен быть готовым к 
появлению пешеходов в не установленных для перехода местах 
(препятствовать переходу нельзя).</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n</span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">&nbsp;&nbsp;&nbsp; При включении зеленого водитель обязан пропустить пешеходов, завершающих переход.</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n</span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">&nbsp;&nbsp; Если т.с. перед ПП ограничивает его обзор, следует притормозить, чтобы убедиться в отсутствии перед т.с. пешеходов.</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n </span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">Технологическая
 остановка (н-р, при заторах) разрешена только непосредственно перед 
пешеходным переходом, но не на зебре (не создавать помехи движению 
пешеходов). </span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n </span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">Преднамеренная остановка разрешена за 5 м до перехода или непосредственно за ним (не перекрывается обзорность перехода).</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n</span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">&nbsp; Перед т.с. со знаком «дети» - следует снизить&nbsp; скорость, предполагая возможную остановку при появлении детей из-за т.с.</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n</span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">&nbsp; На ПП движение только прямо. Запрещены: обгон, остановка, движение задним&nbsp; ходом, разворот.</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n </span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">При
 посадке пассажиров в трамвай с проезжей части - обязательно пропустить 
пешеходов, идущих к остановившемуся трамваю и от него (при их 
отсутствии, при еще не закрытых дверях - можно продолжить движение, 
соблюдая необходимую предосторожность и не форсируя движения). При 
посадке пассажиров в трамвай с разделительной полосы обязательно только 
снижение скорости при проезде мимо такой остановки.</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n </span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">В н.п. отъезжающий от обозначенной остановки автобус и троллейбус имеют приоритет на&nbsp; движение.</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n</span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">&nbsp;&nbsp; На остановках запрещены: движение задним ходом, разворот и стоянки.</span></div>
<div align="justify"><span style="font: bold 16px 'Calibri'; text-decoration: underline; color: rgb(0, 0, 0);">&nbsp;<br>ПРИОРИТЕТ МАРШРУТНЫХ Т.С.</span></div>
<div align="justify"><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">&nbsp;</span></div>
<div align="justify"><span style="font: 16px 'Wingdings'; color: rgb(0, 0, 0);">n</span><span style="font: 16px 'Calibri'; color: rgb(0, 0, 0);">&nbsp; Трамвай имеет приоритет на движение при прочих равных условиях.